body{
    margin: 0;
    padding: 0;
    background-color: #090040;
    color: #B13BFF;
    font-size: 18px;
    font-family: cursive;
    overflow-x: hidden;
}

.main{
    background-color: #06012c;
    display: flex;
    /* border: 1px solid red; */
    padding: 0rem 3rem;
}

li{
    /* list-style-type: none; */
    line-height: 3em;
}

/* visit svg to change size of navmark */
#navmark{
    position: fixed;
    right: 3rem; 
    top: -10vh;
    z-index: 2;
    /* border: 1px solid white; */
}

nav ul{
    display: inline-flex;
    flex-direction: column;
    right: 8rem;
    position: fixed;
    z-index: 3;
    gap: 1.8em;
}

.flex-navbar nav ul li{
    position: relative;
    min-width: 7rem;
    display: inline-block;
    font-size: 1.5rem;
    line-height: normal;
    /* border: 1px solid lime; */
}
.flex-navbar a{
    text-decoration: underline;
    color: black;
}
.flex-navbar a:hover{
    text-decoration: none;
    color: #B13BFF;
}

.header{
    /* border: 1px solid red; */
    background-color: #471396;
    height: 44vh;
    width: 100vw;
    display: grid;
    /* grid-template: 1fr 5fr/ 2fr 4fr; */
    grid-template-columns: 1fr minmax(0, 5fr);
    grid-template-rows: 2fr 4fr;
    gap: 1em;
    color: #FFCC00;
}

.dp{
    grid-row: span 2;
    background-image: url("./assets/me.jpg");
    background-size: cover;
    align-items: center;
    width: 225px;
    height: 225px;
    border: 2px solid #FFCC00;
    border-radius: 200px;
    margin: 3rem;
}

.name{
    font-size: 3rem;
    display: inline;
}

.badge{
    font-size: 22px;
    color: white;
}

.box{
    /* border: 1px solid pink; */
    margin: 1rem 0rem;
    list-style-type: disc;
}

h1{
    color: #FFCC00;
}

.main{
    display: flex;
    flex-direction: column;
    width: 60vw;
    margin: auto;
    /* border: 1px solid yellow; */
}

footer{
    background-color: black;
    color: white;
    height: 5vh;
    display: flex;
    align-items: end;
}

@media (max-width: 950px) {
    .dp{
    width: 150px;
    height: 150px;
    }

    .name{
        font-size: 2.5rem;
    }

    .badge{
        display: inline-block;
        font-size: 18px;
        width: 14rem;
    }

    #navmark{
        height: 15rem;
        /* opacity: 0.5; */
    }

    .flex-navbar nav ul li{
        font-size: 1rem;
        line-height: 0.5rem;
        right: -1rem;
    }

    .header{
        height: 35vh;
        gap: 0em;
    }
}

@media (max-width: 750px){
    body{
        font-size: 14px;
    }
    .dp{
    width: 100px;
    height: 100px;
    margin: 1rem;
    }

    .name{
        font-size: 1.5rem;
    }

    .badge{
        display: inline-block;
        font-size: 16px;
        width: 12rem;
    }

    #navmark{
        height: 13rem;
        right: 0rem;
        /* opacity: 0.5; */
    }

    .flex-navbar nav ul li{
        font-size: 1rem;
        line-height: 0rem;
        right: -5rem;
    }

    .header{
        height: 25vh;
    }
}

@media (max-width: 460px){
        .header{
        border: 1px solid red;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 45vh;
        width: 100vw;
    }

    body{
        font-size: 12px;
    }
    
    .dp{
        width: 120px;
        height: 120px;
        margin: 1rem;
    }

    .tags{
        align-self: center;
    }

    #navmark{
        /* height: 13rem; */
        /* right: 0rem; */
        opacity: 0.5;
    }

    .flex-navbar nav ul li{
        font-size: 1rem;
        line-height: 0rem;
        right: -5rem;
    }
}